inferController:
  # replicas is the number of infer-controller instances to run.
  replicas: 1
  image:
    # repository is the container image repository for the infer-controller.
    repository: ghcr.io/matrixinfer-ai/infer-controller
    # tag is the container image tag for the infer-controller.
    # node: edit by CI. No need to modify manually
    tag: latest
    # pullPolicy is the image pull policy for the infer-controller.
    pullPolicy: IfNotPresent
    # args are the command line arguments for the infer-controller.
    args: [ "--v=2" ]
  # resource defines the resource limits and requests for the infer-controller.
  resource:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi

webhook:
  enabled: true
  # replicas is the number of modelinfer-webhook instances to run.
  replicas: 1
  image:
    # repository is the container image repository for the modelinfer-webhook.
    repository: ghcr.io/matrixinfer-ai/modelinfer-webhook
    # tag is the container image tag for the modelinfer-webhook.
    # node: edit by CI. No need to modify manually
    tag: latest
    # pullPolicy is the image pull policy for the modelinfer-webhook.
    pullPolicy: IfNotPresent
    # args are the command line arguments for the modelinfer-webhook.
    args: [ "--port=8443", "--webhook-timeout=30" ]
  # resource defines the resource limits and requests for the modelinfer-webhook.
  resource:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi

global:
  certManager:
    enabled: true
  webhook:
    # caBundle is the base64-encoded CA bundle for webhook server certificates.
    # This is required when cert-manager is disabled (global.certManager.enabled=false).
    # You can generate it with: cat /path/to/your/ca.crt | base64 | tr -d '\n'
    # caBundle: ""
