{{- if .Values.controllerManager.webhook.enabled }}
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: kthena-mutating-webhook
  labels:
    app.kubernetes.io/component: webhook
    {{- include "kthena.labels" . | nindent 4 }}
  {{- if or .Values.global.certManager.enabled .Values.controllerManager.webhook.tls.autoGenerateCert }}
  annotations:
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/kthena-webhook-cert
  {{- end }}
webhooks:
  - name: mutate-registry-kthena-ai-v1alpha1-model.kthena.ai
    admissionReviewVersions: [ "v1" ]
    sideEffects: None
    failurePolicy: Fail
    timeoutSeconds: 30
    clientConfig:
      service:
        name: kthena-webhook
        namespace: {{ .Release.Namespace }}
        path: "/mutate-registry-kthena-ai-v1alpha1-model"
        port: 443
      {{- if or .Values.global.certManager.enabled .Values.controllerManager.webhook.tls.autoGenerateCert }}
      caBundle: ""
      {{- else }}
      caBundle: {{ required "A caBundle is required for the registry mutating webhook when cert-manager and auto-generate-cert are disabled (global.webhook.caBundle)" .Values.global.webhook.caBundle | quote }}
      {{- end }}
    rules:
      - apiGroups: [ "registry.kthena.ai" ]
        apiVersions: [ "v1alpha1" ]
        resources: [ "models" ]
        operations: [ "CREATE", "UPDATE" ]
        scope: "Namespaced"
    # This ensures the webhook is called before validation
    reinvocationPolicy: IfNeeded
  - name: mutate-registry-kthena-ai-v1alpha1-autoscalingpolicy.kthena.ai
    admissionReviewVersions: [ "v1" ]
    sideEffects: None
    failurePolicy: Fail
    timeoutSeconds: 30
    clientConfig:
      service:
        name: kthena-webhook
        namespace: {{ .Release.Namespace }}
        path: "/mutate-registry-volcano-sh-v1alpha1-autoscalingpolicy"
        port: 443
      {{- if or .Values.global.certManager.enabled .Values.controllerManager.webhook.tls.autoGenerateCert }}
      caBundle: ""
      {{- else }}
      caBundle: {{ required "A caBundle is required for the registry mutating webhook when cert-manager and auto-generate-cert are disabled (global.webhook.caBundle)" .Values.global.webhook.caBundle | quote }}
      {{- end }}
    rules:
      - apiGroups: [ "registry.volcano.sh" ]
        apiVersions: [ "v1alpha1" ]
        resources: [ "autoscalingpolicies" ]
        operations: [ "CREATE", "UPDATE" ]
        scope: "Namespaced"
    # This ensures the webhook is called before validation
    reinvocationPolicy: IfNeeded
{{- end }}
