name: Matrixinfer CI Workflow

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '**.svg'
      - '**.png'
      - 'docs/**'
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'

jobs:

  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        go-version: [ '1.24' ]

    steps:
      - uses: actions/checkout@v3
      - name: install sponge
        shell: bash
        run: sudo apt-get update && sudo apt-get install -y moreutils
      - name: generate copyright
        shell: bash
        run: |
          make add-copyright
      - name: check diff
        shell: bash
        run: |
          git diff --exit-code
      - name: install helm
        shell: bash
        run: |
          curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
      - name: helm lint
        shell: bash
        run: |
          helm lint charts/matrixinfer
      - name: Setup Go
        uses: actions/setup-go@v4.0.0
        with:
          go-version: ${{ matrix.go-version }}
      - name: golangci-lint
        shell: bash
        run: |
          make lint
      - name: Build matrixinfer
        shell: bash
        run: |
          make gen-check
